[Desktop Entry]
Name=GTKX Tutorial
GenericName=Notes
Comment=Notes app from the GTKX tutorial
Exec=gtkx-tutorial
Icon=com.gtkx.tutorial
Terminal=false
Type=Application
Categories=Utility;
Keywords=Notes;Note;Text;Editor;
StartupNotify=true
